.App {
  h1 {
    text-transform: uppercase;
    font-size: 1.5em;
  }

  footer p {
    font-size: 13px;
    text-align: center;

    a {
      text-decoration: none;
      color: #e4e4e4;
    }
  }
}
