@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: url("../assets/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#loading {
  text-align: center;
}
